<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/flight.css">
<link rel="stylesheet" href="/css/passengerInfo.css">
<style>
    input:invalid {
        border: red solid 3px;
      }
      input[type=tel]{
        width: auto;
      }
</style>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <form action="/confiramtion">
        <fieldset>
            <legend>Please Enter your Payment Info, <%= pData.name%></legend>
        <table>
        <tr>
            <td>
                <div class="form-control">
                    <label for="name">Card Type</label>
                    <select type="text" name="c_type" required>
                        <option value="d">Debit card</option>
                        <option value="c">Credit card</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-control">
                    <label for="Card-Number">Card Number</label>
                    <input type="tel" name="cc1" inputmode="numeric" pattern="[0-9\s]{4}" placeholder="xxxx">-
                    <input type="tel" name="cc2" inputmode="numeric" pattern="[0-9\s]{4}" placeholder="xxxx">-
                    <input type="tel" name="cc3" inputmode="numeric" pattern="[0-9\s]{4}" placeholder="xxxx">-
                    <input type="tel" name="cc4" inputmode="numeric" pattern="[0-9\s]{4}" placeholder="xxxx">
                </div>
            </td>
        </tr>
    </table>
        <input type="hidden" name="tData" value="<%= pData.t_num%>">
        <button>Submit</button>
    </form>
</fieldset>
<%- include('../includes/end.ejs') %>